/* ------------------------
      google  fonst  
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*------------------------
common styles or utilities
-------------------------*/

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.bg-navbar {
  color: white;
  background-color: #264653;
}
.nav-text {
  color: white;
}

.login-btn {
  width: 100px;
  height: 40px;
  background-color: #e76f51;
  color: white;
  border-radius: 5px;
  border: none;
}
.colorfull-text {
  color: #e76f51;
}
.header-section {
  background-color: #264653;
}
.honda-btn {
  width: 168px;
  height: 44px;
  background-color: #e76f51;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
}
.honda-btn:hover {
  transform: scale(1.05);
}
.grayscale {
  filter: grayscale(100%);
}
.card-image img {
  width: 150px;
  height: 150px;
}
.fa-star {
  color: #e76f51;
}
.key-features {
  background-image: url(images/feature-bike.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.new-arrival {
  background-color: #f6f6f6;
}
